@page "/Days/{day:int?}"
@model ActivityModel
@{
  ViewData["Title"] = "Activity";
}

<div class="text-center">
    <h1 class="display-4">Activity</h1>
    <p>View your study activity</p>
</div>
    <a asp-page="/Index">
    <button class="btn btn-primary btn-sm">Back to Home</button>
    </a>
<div class="row">
  <div class="col">
      @if (Model.IsWeeklyDisplay)
      {
      <h2>Weekly Total</h2>
      }
      else 
      {
      <h2>Day @Model.CurrentDisplayDay</h2>
      }  
      <h3 class="minutes-subjects">Minutes studied: @Model.DisplayMinutes</h3>
      <h3 class="minutes-subjects">Subjects studied:  @Model.DisplaySubjects</h3>
      <br></br>
      <h3>Progress: </h3>
      <div class="col">
        <div class="col bar-col">
        @if (!Model.IsWeeklyDisplay)
        { 
          var minutes = new ProgressTrackerModel
          {
            Background = "#cccccc",
            Foreground = "#0066cc",
            PercentProgress = @Model.PercentProgressMinutes ,
            DisplayNumber = @Model.DisplayMinutes,
            MinutesTarget = @Model.Target,
            Unit = "Minutes",
            IconUrl = "https://png.pngtree.com/element_our/20190604/ourmid/pngtree-college-entrance-examination-study-notes-illustration-image_1470587.jpg"
            
          };
          <partial name="_Progress" model=@minutes />
        }
        else 
        {
          var minutesWeekly = new ProgressTrackerModel
          {
            Background = "#cccccc",
            Foreground = "#0066cc",
            PercentProgress = @Model.PercentProgressMinutes ,
            DisplayNumber = @Model.DisplayMinutes,
            MinutesTarget = @Model.DisplayWeeklyTarget,
            Unit = "Minutes",
            IconUrl = "https://png.pngtree.com/element_our/20190604/ourmid/pngtree-college-entrance-examination-study-notes-illustration-image_1470587.jpg"
          };
        <partial name="_Progress" model=@minutesWeekly />
        }
      </div>  
    </div>
      <br></br>
      <br></br>
      @if (Model.IsWeeklyDisplay)
      {
        if (Model.DisplayMinutes >= Model.DisplayWeeklyTarget)
        {
        <h4>Well done, you reached your weekly target!</h4>
        }
       } 
      else if (Model.DisplayMinutes >= Model.Target)
      { 
        <h4>Well done, you reached your daily target!</h4> 
      }
  </div>
  
  <div class="col">
    <h2>Days</h2>
    <hr>
    @for (int i = 1; i < Model.Days.Count; i++)
    { 
      int currentDay = i + 1; 
      <h3 h2 class="days-links">
        <a asp-page="/Activity" asp-route-day="@i">Day @i</a>
      </h3>
    }
    <br></br>
    <h3 class="days-links"><a asp-page="/Activity" asp-route-day="">Weekly Total</a></h3>
  </div>
</div>

